@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t83dh');
  src:  url('fonts/icomoon.eot?t83dh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t83dh') format('truetype'),
    url('fonts/icomoon.woff?t83dh') format('woff'),
    url('fonts/icomoon.svg?t83dh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ohicon:before {
  content: "\e900";
}

